{% extends 'layout.html' %}

{% block title %}
    TwitterX
{% endblock %}

{% block content %}
    <h1 class="text-center text-white mt-3">
        Welcome to TwitterX!
    </h1>

    <div class="text-white">
        {% if form.instance.pk %}
            <h2>Edit Tweet</h2>
        {% else %}
            <h2>Create New Tweet</h2>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Submit</button>
        </form>

        <a href="{% url 'get_list_of_twitter' %}">Back to tweet list</a>
    </div>
{% endblock %}
